<div w style="border: 1px solid #e9e9e9;height: 100%;display: flex;flex-direction: column;align-items: center;" class="itemPanel" #itemPanel_dom>
    <img mt20 data-item="{clazz:'start',size:'30*30',label:''}" src="../assets/flow/start.svg" alt="" style="width: 40px;height: 40px;">
    <img mt20 data-item="{clazz:'end',size:'30*30',label:''}" src="../assets/flow/end.svg" alt="" style="width: 40px;height: 40px;">
    <img mt20 data-item="{clazz:'exclusiveGateway',size:'30*30',label:''}" src="../assets/flow/exclusive-gateway.svg" alt="" style="width: 40px;height: 40px;">
    <img mt20 data-item="{clazz:'userTask',size:'30*30',label:'审批节点'}" src="../assets/flow/user-task.svg" alt="" style="width: 80px;height: 40px;">
</div>
