<div flex style="flex-direction: column;">
    <nz-form-item nzFlex mb15>
        <nz-form-label [nzSpan]="4" style="margin-left: 27px;" C1B2A5A>节点文本</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <input w nz-input placeholder="请选择文本" [(ngModel)]="labelValue" (ngModelChange)="onChange('label',$event)"/>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nzFlex mb0>
        <nz-form-label [nzSpan]="4" style="margin-left: 27px;" C1B2A5A>开始时间</nz-form-label>
        <nz-form-control [nzSpan]="14">
            <nz-date-picker w nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" nzPlaceHolder="请选择开始时间" [(ngModel)]="beginDateValue" (ngModelChange)="onChange('beginDate',$event)"
            ></nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-range-picker></nz-range-picker>
    <range-picker></range-picker>
</div>


